
.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.gallery-image {
    width: 360px;
}


.gallery-home {
    font-weight: 700;
    font-size: 24px;
    color: rgb(17, 9, 174);
    margin-bottom: 4px;
}